{% extends 'base.html' %}

{% load static %}

{% block pagetitle %} Map {% endblock %}

{% block main %}
<div id="map">
</div>
<button onclick="GetLocation();" type="button" rel="tooltip" class="btn btn-danger btn-round" data-original-title=""
  title="" id="button" data-toggle="modal" data-target="#myModal">
  <i class="material-icons">add_circle</i>
</button>
<!-- Modal -->

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Location</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="material-icons">clear</i>
        </button>
      </div>
      <form class="form" method="post" action="{% url 'map'%}">
        {% csrf_token %}
        <div class="modal-body">
          <p>
            現在地を登録します。<br>
            ラベルを選択した上で、登録ボタンを押してください。
          </p>
          <div class="row">
            <label class="col-sm-3 col-form-label">Latitude</label>
            <div class="col-sm-7">
              <div class="form-group">
                {{ location_form.latitude }}
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-3 col-form-label">Longitude</label>
            <div class="col-sm-7">
              <div class="form-group">
                {{ location_form.longitude }}
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-3 col-form-label">Location Label</label>
            <div class="col-sm-7">
              <div class="form-group">
                {{ location_form.label }}
              </div>
            </div>

          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-link btn-danger">登録</button>
          <!-- <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button> -->
        </div>
      </form>
    </div>
  </div>
</div>
<!-- <i class="material-icons" id="button">add_circle</i> -->
{% endblock %}

{% block script %}
<script>
  var myLatlng = new google.maps.LatLng(36.0922455, 139.944458);
  var mapOptions = {
    zoom: 2.5,
    center: myLatlng,
    scrollwheel: false, //we disable de scroll over the map, it is a really annoing when you scroll through page
    styles: [{
      "featureType": "water",
      "stylers": [{
        "saturation": 43
      }, {
        "lightness": -11
      }, {
        "hue": "#0088ff"
      }]
    }, {
      "featureType": "road",
      "elementType": "geometry.fill",
      "stylers": [{
        "hue": "#ff0000"
      }, {
        "saturation": -100
      }, {
        "lightness": 99
      }]
    }, {
      "featureType": "road",
      "elementType": "geometry.stroke",
      "stylers": [{
        "color": "#808080"
      }, {
        "lightness": 54
      }]
    }, {
      "featureType": "landscape.man_made",
      "elementType": "geometry.fill",
      "stylers": [{
        "color": "#ece2d9"
      }]
    }, {
      "featureType": "poi.park",
      "elementType": "geometry.fill",
      "stylers": [{
        "color": "#ccdca1"
      }]
    }, {
      "featureType": "road",
      "elementType": "labels.text.fill",
      "stylers": [{
        "color": "#767676"
      }]
    }, {
      "featureType": "road",
      "elementType": "labels.text.stroke",
      "stylers": [{
        "color": "#ffffff"
      }]
    }, {
      "featureType": "poi",
      "stylers": [{
        "visibility": "off"
      }]
    }, {
      "featureType": "landscape.natural",
      "elementType": "geometry.fill",
      "stylers": [{
        "visibility": "on"
      }, {
        "color": "#b8cb93"
      }]
    }, {
      "featureType": "poi.park",
      "stylers": [{
        "visibility": "on"
      }]
    }, {
      "featureType": "poi.sports_complex",
      "stylers": [{
        "visibility": "on"
      }]
    }, {
      "featureType": "poi.medical",
      "stylers": [{
        "visibility": "on"
      }]
    }, {
      "featureType": "poi.business",
      "stylers": [{
        "visibility": "simplified"
      }]
    }]

  }
  var map = new google.maps.Map(document.getElementById("map"), mapOptions);

  button = document.getElementById("button");
  button.index = 1;
  map.controls[google.maps.ControlPosition.BOTTOM_CENTER].push(button);

  var marker;
  var html;
  var infoWindow;
  {% for loc in get_locations %}
  marker = new google.maps.Marker({
    position: new google.maps.LatLng({{ loc.latitude }}, {{ loc.longitude }}),
    title: "@{{ loc.user.username }}",
    // animation: google.maps.Animation.BOUNCE
  });

  html = '\　{% if loc.user.profile.image %} \
                      <img src="{{ loc.user.profile.image.url }}" alt="..." width="30" height="30">\
                      {% else %}\
                      <img src="{% static 'assets/img/default-avatar.png'%}" alt="..." width="30" height="30">\
                      {% endif %}\
                      <br> Label: {{loc.label}}\
                      <br> Name: {{ loc.user.first_name }} {{ loc.user.last_name }}\
  ';
  infoWindow = new google.maps.InfoWindow({
    // 吹き出しに出す文
    content: html
  });

  infoWindow.open(map, marker);
  // 吹き出しが閉じられたら、マーカークリックで再び開くようにしておく
  // google.maps.event.addListener(infoWindow, "closeclick", function() {
  //   google.maps.event.addListenerOnce(marker, "click", function(event) {
  //     infoWindow.open(map, marker);
  //   });
  // });

  // To add the marker to the map, call setMap();
  marker.setMap(map);
  {% endfor %}

  function GetLocation() {
    // Geolocation APIに対応している
    if (navigator.geolocation) {
      // 現在地を取得
      navigator.geolocation.getCurrentPosition(

        // [第1引数] 取得に成功した場合の関数
        function (position) {
          // 取得したデータの整理
          var data = position.coords;

          // データの整理
          var lat = data.latitude;
          var lng = data.longitude;
          var alt = data.altitude;
          var accLatlng = data.accuracy;
          var accAlt = data.altitudeAccuracy;
          var heading = data.heading;			//0=北,90=東,180=南,270=西
          var speed = data.speed;

          // アラート表示
          // alert("あなたの現在位置は、\n[" + lat + "," + lng + "]\nです。");
          // target = document.getElementById("loc");
          // target.innerHTML = "あなたの現在位置は、\n[" + lat + "," + lng + "]\nです。";
          $('#latitude').val(lat);
          $('#longitude').val(lng);
        },

        // [第2引数] 取得に失敗した場合の関数
        function (error) {
          // エラーコード(error.code)の番号
          // 0:UNKNOWN_ERROR				原因不明のエラー
          // 1:PERMISSION_DENIED			利用者が位置情報の取得を許可しなかった
          // 2:POSITION_UNAVAILABLE		電波状況などで位置情報が取得できなかった
          // 3:TIMEOUT					位置情報の取得に時間がかかり過ぎた…

          // エラー番号に対応したメッセージ
          var errorInfo = [
            "原因不明のエラーが発生しました…。",
            "位置情報の取得が許可されませんでした…。",
            "電波状況などで位置情報が取得できませんでした…。",
            "位置情報の取得に時間がかかり過ぎてタイムアウトしました…。"
          ];

          // エラー番号
          var errorNo = error.code;

          // エラーメッセージ
          var errorMessage = "[エラー番号: " + errorNo + "]\n" + errorInfo[errorNo];

          // アラート表示
          alert(errorMessage);

          // HTMLに書き出し
          // document.getElementById("loc").innerHTML = errorMessage;
        },

        // [第3引数] オプション
        {
          "enableHighAccuracy": false,
          "timeout": 8000,
          "maximumAge": 2000,
        }

      );
    }

    // 対応していない場合
    else {
      // エラーメッセージ
      var errorMessage = "お使いの端末は、GeoLacation APIに対応していません。";

      // アラート表示
      alert(errorMessage);

      // HTMLに書き出し
      // document.getElementById('result').innerHTML = errorMessage;
    }
  }
</script>
{% endblock%}