{% extends 'base.html' %}

{% load static %}

{% block pagetitle %} Profile {% endblock %}

{% block main %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">perm_identity</i>
            </div>
            <h4 class="card-title">Profile -
              <small class="category">Complete your profile</small>
            </h4>
          </div>
          <div class="card-body">
            <form class="form" method="post" action="{% url 'profile'%}">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label class="bmd-label-floating">Username</label>
                    <input type="text" class="form-control" value="{{ user.get_username }}" disabled>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="bmd-label-floating">Email address</label>
                    {{ user_form.email }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Fist Name</label>
                    {{ user_form.first_name }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Last Name</label>
                    {{ user_form.last_name }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <!-- <label class="bmd-label-floating">Grad Year</label> -->
                    {{ profile_form.gender }}
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <!-- <label class="bmd-label-floating">Grad Year</label> -->
                    {{ profile_form.grad_year }}
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <!-- <label class="bmd-label-floating">The Class of</label> -->
                    {{ profile_form.class_of }}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>About Me</label>
                    <div class="form-group">
                      <!-- <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label> -->
                      {{ profile_form.about_me }}
                      <!-- <textarea class="form-control" rows="5" name="about_me">{{ user.profile.about_me }}</textarea> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                      <div class="fileinput-new thumbnail">
                        <!-- {% if not user.profile.image.url %}
                        <img src="{{ user.profile.image.url }}" alt="...">
                        {% else %}
                        <img src="{% static 'assets/img/default-avatar.png'%}" alt="...">
                        {% endif %} -->
                        {{ profile_form.image }}
                      </div>
                      <div class="fileinput-preview fileinput-exists thumbnail"></div>
                      <div>
                        <span class="btn btn-rose btn-round btn-file">
                          <span class="fileinput-new">Select image</span>
                          <span class="fileinput-exists">Change</span>
                          <input type="file" name="..." />
                        </span>
                        <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i
                            class="fa fa-times"></i> Remove</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-rose pull-right">Update Profile</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="material-icons">place</i>
            </div>
            <h4 class="card-title">Location
              <!-- <small class="category">Add your location</small> -->
            </h4>
          </div>

          <div class="card-body">
            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%"
              style="width:100%">
              <thead>
                <tr>
                  <th>Label</th>
                  <th>Latitude</th>
                  <th>Longitude</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Label</th>
                  <th>Latitude</th>
                  <th>Longitude</th>
                  <th>Action</th>
                </tr>
              </tfoot>
              <tbody>
                {% for loc in parsonal_locations %}
                <tr>
                  <td>{{ loc.label }}</td>
                  <td>{{ loc.latitude }}</td>
                  <td>{{ loc.longitude }}</td>
                  <th><button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm">
                      <i class="material-icons">close</i>
                    </button></th>
                </tr>
                {% endfor%}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  $(document).ready(function () {
    $('#datatables').DataTable({
      "pagingType": "full_numbers",
      "lengthMenu": [
        [40, 40, 20, -1],
        [40, 40, 20, "All"]
      ],
      responsive: true,
      searching: false,
      ordering: false,
      // language: {
      //   search: "_INPUT_",
      //   searchPlaceholder: "Search records",
      // },
      paging: false,
      lengthChange: false
    });

    var table = $('#datatable').DataTable(

    );

    // Edit record
    table.on('click', '.edit', function () {
      $tr = $(this).closest('tr');
      var data = table.row($tr).data();
      alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
    });

    // Delete a record
    table.on('click', '.remove', function (e) {
      $tr = $(this).closest('tr');
      table.row($tr).remove().draw();
      e.preventDefault();
    });

    //Like record
    table.on('click', '.like', function () {
      alert('You clicked on Like button');
    });
  });
</script>
{% endblock%}